<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>its Kantan Desu!</title>
    <link rel="stylesheet" href="./style/style.css"> 
</head>
<body >


    


    <div id="app">
        <!-- SHOW NAVBAR -->
        <div class="nav" style="display: flex; justify-content: center;" v-if="!isLogin" >
            <div class="marginH3">
                <h2 style="padding-top:10%; font-family: 'itu';" @click="showLoginHideRegister">Sign-In</h2>
            </div>
            <div class="marginH3">
                <span class="navTitle">KanTan</span>
            </div>
            <div class="marginH3"  >
                <h2 style="padding-top: 10%;font-family: itu;" @click="showRegisterHideLogin">Register</h2>
            </div>
        </div>

        <div class="nav" style="display: flex; justify-content: center;" v-if="isLogin" >
            <div class="marginH3">
                <h2 style="padding-top:10%; font-family: 'itu';">its</h2>
            </div>
            <div class="marginH3">
                <span class="navTitle">KanTan</span>
            </div>
            <div class="marginH3"  >
                <h2 style="padding-top: 10%;font-family: itu;" @click="logout" >logOut</h2>
            </div>
        </div>
        <!-- END NAVBAR -->

        <!-- Login -->
        <div class="containerLoginRegister" v-if="!isLogin">
            <div style=" display: flex; justify-content: space-around; padding-bottom: 30px;">
                <div class='login-register' >
                    <!-- LOGIN FORM -->
                    <form class="frm-login" v-if="loginPage">
                        <span class="backlog" style="font-size: 33;"> Sign in!</span>
                        
                        <div class="email-container">
                            <label class="backlog" style="font-size: 22px;">Email:</label><br>
                            <input class="email" type="email" v-model="email">
                        </div><br>
                        <div>
                            <label class="backlog" style="font-size: 22px;">Password:</label><br>
                            <input class="password" type="password" v-model="password">
                        </div>
                        <div>
                            <p>Dont have account? <a style="font-family: ini;" class="hovr" @click="showRegisterHideLogin">Sign Up!</a></p>
                        </div>
                        <div> <a class=button @click="axiosLogin"> Login </a> </div>
                    </form>
                    <!-- END LOGIN FORM -->

                    <!-- REGISTER -->
                    <form class="frm-login"  v-if="!loginPage">
                        <span class="backlog"> Register</span>
                        <div class="email-container">
                            <label class="backlog" style="font-size: 15px;">Name:</label><br>
                            <input class="email" type="text" placeholder="Your name here">
                        </div>
                        <div class="email-container">
                            <label class="backlog" style="font-size: 15px;">Email:</label><br>
                            <input class="email" type="email" placeholder="Your email here">
                        </div>  
                        
                        <div class="email-container">
                            <label class="backlog" style="font-size: 15px;">Password:</label><br>
                            <input class="password" type="password" placeholder="Your password here">
                        </div>
                        <br><br>
                        <div> <a class=button> Register </a> </div>
                    </form>
                    <div class='login-register'>
                        
                    </div>
                </div>
                <div class=imgcontainer style="text-align: center">
                    <span style="background-color: white;padding-left: 10px; padding-right: 10px;border-radius: 20px; font-family: itz; font-size: 80px; color:rgb(70, 135, 165);" > Kantan Kanban</span>
                   
                    <div>
                        <img src="/style/Logo.png" style="width: 400px;height: 300px;">
                    </div>
                </div>
                
            </div>
        </div>


    
    
        <div class="content"  v-if="isLogin">
            <div class="anakolom">
                <div class="container-backlog">
                    <div >
                        <p class="backlog" >BackLog</p>
                    </div>
                    <div class="ini">
                        <!-- INI BUAT DI LOOP -->
                        <div class="isi" v-for="i in backlogData">  
                            <div class="pContent">
                                <span > {{i.description}}</span>
                                <div style="display: flex; justify-content: flex-end;">
                                    <img src="./style/png/garbage-1.png" style="height: 25px; width: 25px;">
                                    
                                </div>
                            </div>
                        </div>
                        <!-- END  LOOP  -->
                    </div>
                </div>
            </div>
            
    
            <div class="anakolom">
                <div class="container-product">
                    <div >
                        <p class="backlog" >Product</p>
                    </div>
                    <div class="ini">
                        <!-- INI BUAT DI LOOP -->
                        <div class="isi" v-for="i in productData">  
                            <div class="pContent">
                                <span > {{i.description}}</span>
                                <div style="display: flex; justify-content: flex-end;">
                                    <img src="./style/png/garbage-1.png" style="height: 25px; width: 25px;">
                                </div>
                            </div>
                        </div>
                        <!-- END  LOOP  -->
                    </div>
                </div>
            </div>
            
            <div class="anakolom">
                <div class="container-development">
                    <div >
                        <p class="backlog" >Development</p>
                    </div>
                    <div class="ini">
                        <!-- INI BUAT DI LOOP -->
                        <div class="isi" v-for="i in developmentData">  
                            <div class="pContent">
                                <span > {{i.description}}</span>
                                <div style="display: flex; justify-content: flex-end;">
                                    <img src="./style/png/garbage-1.png" style="height: 25px; width: 25px;">
                                </div>
                            </div>
                        </div>
                        <!-- END  LOOP  -->
                    </div>
                </div>
            </div>
            
            <div class="anakolom">
                <div class="container-done">
                    <div >
                        <p class="backlog" >Done</p>
                    </div>
                    <div class="ini">
                        <!-- INI BUAT DI LOOP -->
                        <div class="isi" v-for="i in doneData">  
                            <div class="pContent">
                                <span > {{i.description}}</span>
                                <div style="display: flex; justify-content: flex-end;">
                                    <img src="./style/png/garbage-1.png" style="height: 25px; width: 25px;">
                                </div>
                            </div>
                        </div>
                        <!-- END  LOOP  -->
                    </div>
                </div>
            </div>
        </div>

        
        <button class="button" @click="toggleModal">
           Add Data
           </button>
           <transition name="fade" appear>
            <div class="modal-overlay" v-if="showModal" @click="toggleModal"></div>
           </transition>
           <transition name="slide" appear>
            <div class="modal" v-if="showModal">
             <h1>Lorem Ipsum</h1>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem provident explicabo accusamus laudantium voluptatum nobis sed nesciunt neque possimus molestiae?</p>
             <button class="button" @click="toggleModal">
              Close Modal
             </button>
            </div>
           </transition>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>    
    <script src="script/backup.js"></script>
</body>
</html>