@font-face{
    font-family: 'ini';
    src: url(./Roboto-Medium.ttf);
}
@font-face{
    font-family: 'itu';
    src: url(./Roboto-Light.ttf);
}

@font-face{
    font-family: 'itz';
    src: url(./sweet.ttf);
}

.abu{
    background-color: rgb(198, 198, 199);
    border: thin;
}
.putih{
    background-color: whitesmoke;
}


.marginInside{
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 1%;
   margin-bottom: 3%;
   padding-left: 3%;
   padding-right: 3%;
}

.bg-blue{
    background-color:rgba(138, 185, 211, 0.726);
}

.bg-pink{
    background-color:#edc2d8ff;
}

.bg-adjwhte{
    background-color:#fcf6f5ff;
}

.nav{
    border-radius: 20px;
    background-image: linear-gradient(to right, rgb(248, 176, 245),rgb(0, 166, 255));

    box-shadow: 10px 10px 5px rgba(61, 61, 61, 0.712);
    margin-bottom: 3%;
   
}
.marginH3{
    margin-right: 1%;
    margin-left: 2%;
}

.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.kolom{
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.anakolom{
    border-radius: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    width: 290px;
    /* background-color:#edc2d8ff; */
}

.anakolom2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.isi{
    border-radius: 10px;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    background-color:#fcf6f5ff ;
}
.backlog{
    font-family: 'ini';
    font-size: 17pt;
    padding-left: 4%;
    margin:0;
}

.pContent{
    font-family: 'itu';
    font-size: 11pt;
    padding-top: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 2%;
}

.container-backlog{
    border-radius: 20px;
    background-color: rgba(250, 174, 233, 0.603);
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 4%;
    padding-bottom: 5%;
    box-shadow: 10px 10px 5px rgba(61, 61, 61, 0.712);
    
}
.container-backlog:hover{
    background-color: rgb(250, 174, 233);
    
}

.container-product{
    border-radius: 20px;
    background-color: rgba(6, 255, 222, 0.637);
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 4%;
    padding-bottom: 5%;
    box-shadow: 10px 10px 5px rgba(61, 61, 61, 0.712);
    
}
.container-product:hover{
    background-color: rgb(6, 255, 222);
    
}

.container-development{
    border-radius: 20px;
    background-color: rgba(255, 152, 35, 0.589);
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 4%;
    padding-bottom: 5%;
    box-shadow: 10px 10px 5px rgba(61, 61, 61, 0.712);
}
.container-development:hover{
    background-color: rgb(255, 152, 35);
}

.container-done{
    border-radius: 20px;
    background-color: rgba(42, 255, 35, 0.712);
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 4%;
    padding-bottom: 5%;
    box-shadow: 10px 10px 5px rgba(61, 61, 61, 0.712);
}
.container-done:hover{
    background-color: rgb(42, 255, 35);
}

.isi:hover{
    cursor: pointer;
}

.navLR{
    font-family: 'itz';
    font-size: 20pt;
    padding-top: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 2%;
}
h2:hover{
    cursor: pointer;
    color: wheat;
}

.navTitle{
    font-family: 'itz';
    font-size: 50pt;
    padding-top: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 2%;
    
    
}
.titleDiv{
    border-radius: 20pt;
}


.navTitle:hover{
    cursor: pointer;
    color: wheat;
}
body{
    background-image: url(./bg.jpg);
    background-position: center;
    background-size: cover;
}

.ini{
    max-height: 40vh;
    overflow: auto;
}

.login-register{
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 1%;
}
.email{
    font-family: 'itu';
    font-size: 20px;
    width: 200px;
    height: 40px;
    padding-left: 7px;
    box-sizing: border-box;
    border: 2px solid rgb(70, 135, 165);
    border-radius: 10px;
    background-color: #f8f8f8;
}
.email-container{
    margin-top: 10%;
}
.password{
    font-family: 'itu';
    font-size: 20px;
    width: 200px;
    height: 40px;
    padding-left: 7px;
    box-sizing: border-box;
    border: 2px solid rgb(70, 135, 165);
    border-radius: 10px;
    background-color: #f8f8f8;
}
.containerLoginRegister{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    
}
.button{
    margin-top: 2%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 15px;
    font-size: 20px;
    border: 2px solid rgb(70, 135, 165);
    background-color: rgb(255, 255, 255);
}
.button:hover{
    cursor: pointer;
    background-color: rgb(70, 135, 165);
    color: white;
}
.hovr:hover{
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius: 10px;
    background-color: rgb(70, 135, 165);
    color: white;
}

.frm-login{
    border-right: solid rgb(70, 135, 165);
    border-width: thick;
    padding-left: 150px;
    padding-right: 100px;
}
.imgcontainer{
    
    
    align-self: flex-end;
}
.deleteBtn{
    background-color: rgb(253, 49, 49);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    border-radius: 50%;
}

.addArea{
    display: flex;
    justify-content: center;
}

.addImg{
    margin-Top: 40px;
    margin-right: 40px;
    box-shadow: -10px -10px 2px rgba(61, 61, 61, 0.712);
    width: 50px;height: 50px;
    position: fixed;
    
}
.addImg:hover{
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.modal-overlay{
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.3);
}


/* MODAL */
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;font-family: 'itu';
    font-size: 20px;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 99;
    width: 100%;
    max-width: 400px;
    background-color: #FFF;
    border-radius: 16px;
    padding: 25px;
  }
  .modal h1 {
    color: #222;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 15px;
  }
  .modal p {
    color: #666;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  
  .fade-enter-active,
  .fade-leave-active {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
  }
  
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
  
  .slide-enter-active,
  .slide-leave-active {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  
  .slide-enter,
  .slide-leave-to {
    -webkit-transform: translateY(-50%) translateX(100vw);
            transform: translateY(-50%) translateX(100vw);
  }  


.form-modal{
    display: flex;
    align-content: center;
    justify-content: center;
   
}
.select-opt{
    width: 200px;
    height: 40px;
    font-family: 'itu';
    font-size: 20px;

}

.buttonModalBlue{
    margin-top: 2%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 15px;
    font-size: 15px;
    border: 2px solid rgb(70, 135, 165);
    background-color: rgb(255, 255, 255);
}
.buttonModalRed{
    margin-top: 2%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 15px;
    font-size: 15px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(248, 107, 107);
}

.buttonModalBlue:hover{
    background-color: rgb(70, 135, 165);
   color: white;
}
.buttonModalRed:hover{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(248, 107, 107);
    color:white
}

.kanbanDesc{
    font-family: 'itu';
    font-size: 20px;
    width: 400px;
    height: 120px;
    padding-left: 7px;
    box-sizing: border-box;
    border: 2px solid rgb(70, 135, 165);
    border-radius: 10px;
    background-color: #f8f8f8;  
    
}

.gradButton{
    margin-top: 2%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 15px;
    font-size: 20px;
    border: 2px solid rgb(255, 255, 255);
    background-image: linear-gradient(to right, rgb(248, 225, 176),rgb(120, 255, 102));
}

.toggleImg{
    position: inherit;
    height: 25px; 
    width: 25px;
}
.toggleImg:hover{
    height: 35px; 
    width: 35px;
}